<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    {{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Hello, world!</title>
  </head>
  <body>
    {{>navbar data= details}}

  {{>slider data=slides}}

  {{!-- This is banner 1 section --}}

  <section class="banner1_section mb-4 py-3 background_1">

    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <h1>Start Learning new technology</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non eveniet, excepturi magnam aspernatur amet quos totam repellendus quam cumque vero eos? Maxime dolorum ea nam rem rerum tempore magni earum?</p>
          <button class="btn btn-outline-primary">Start Leaning</button>
        </div>
      </div>
    </div>
  </section>


    {{!-- banener 2 section --}}

    <section class="banner2_section">
      <div class="container py-3">
        <div class="row mb-2 mt-5 text-center">
          <div class="col-md-7 pt-5">
            <h3>We Work for people, not for money</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Aspernatur et nihil, voluptas eius voluptatem labore dolore
               molestias dolor explicabo amet maiores libero molestiae 
               perspiciatis earum officia quam a laudantium recusandae.
            </p>
            <button class="btn btn-primary">Click me!</button>
          </div>
          <div class="col-md-5">
            <img src="/static/images/graphics.jpg" class="img-fluid" width="350px" alt="">
          </div>
        </div>
        <hr>
        <div class="row mb-5 text-center">
          <div class="col-md-5">
            <img src="/static/images/graphics2.jpg" class="img-fluid" width="350px" alt="">
          </div>
          <div class="col-md-7 pt-5">
            <h3>We Work for people, not for money</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Aspernatur et nihil, voluptas eius voluptatem labore dolore
               molestias dolor explicabo amet maiores libero molestiae 
               perspiciatis earum officia quam a laudantium recusandae.
            </p>
            <button class="btn btn-primary">Click me!</button>
          </div>
        </div>
      </div>
    </section>




  {{!-- Services section --}}
  <section id="services_section">
  <div class="container my-5">
    <h1 class="text-center text-secondary">Services that we provide</h1>
    <div class="row mt-5">
      {{!-- first Service col --}}
      {{#each services}}
      <div class="col-md-4 my-2 text-center">

        <div class="card">
          <div class="card-body">
            <div class="container text-center py-3">
              <i class="{{this.icon}} service-icon text-secondary"></i>
            </div>
            <h5 class="card-title">{{this.title}}</h5>
            <p>{{this.description}}</p>

            <a href="{{this.link}}">{{this.linkText}}</a>
            <a href="#" class="ml-3">Support</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  </section>


  {{!-- Contact section --}}

  <section id="contact_us_section" class=" my-3 py-5 background_1">
    <div class="container">
      <h3 class="text-center text-secondary">Contact Us</h3>
      <div class="row">
        <div class="col-md-12">

          <form action="/process-contact-form", method="post">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Your Email address</label>
            <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="contactNumber" class="form-label">Contact Number</label>
            <input name="number" type="number" class="form-control" id="contactNumber" placeholder="+91 0000000000">
          </div>
          <div class="mb-3 mt-2">
            <textarea name="query" class="form-control" id="exampleFormControlTextarea1" placeholder="Enter your query here" rows="6"></textarea>
          </div>

          <div class="container text-center">
            <button type="submit" class="btn btn-dark"> Submit</button>
          </div>
          </form>

        </div>
      </div>
    </div>

  </section>


    {{!-- //About section --}}
    <section id="about" class="about_section mt-5">
      <div class="container text-center py-5">
        <div class="row">
          <div class="col-md-12">
            <h3>About us</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing
               elit. Incidunt mollitia consequatur nesciunt accusantium 
               quos, sint facere ut debitis deleniti. Ipsum, labore 
               veritatis unde tempore asperiores a exercitationem atque 
               esse sequi.
            </p>
            <button class="btn btn-primary">Know more</button>
          </div>
        </div>
      </div>
    </section>

    {{!-- Fotter section --}}
    <footer class="footer background_1 text-center py-1">

      <div class="container">
        <div class="row">
          <class class="col-md-12">
            @ 2021 Copyright: <p></p>
          </class>
        </div>
      </div>
    </footer>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>